.authorCard{

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 25px;
    padding: 5%;
    margin: 1%;
    width: 100%;
    background-color: #c2e2ea;

    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

}

.authorCard:hover{

    box-shadow: 0 8px 16px 0 rgba(0,0,0,02);

}

.authorImage{

    text-align: center;
    width: 50%;
    border-radius: 25px;
    margin: 10px;   

}

.authorCaption{


    width: 50%;
    align-items: center;
    color: #051a2f;

}